body {
    font-family: 'Raleway', sans-serif;
    background-color: grey;
}

/*Header and Footer*/
.main-link {
    width: 71px;
    height: 24px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*For every list on the web*/
.list {
    list-style-type: none;
}

/*Header > nav > list > li*/
.nav-list-li {
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.contacts-list-li {
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
}

/*Botton - Order Service*/
.appeal-botton {
    width: 170px;
    height: 51px;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    border: 2px solid black;
}

.appeal-botton:focus,
.appeal-botton:hover {
    border: 2px solid #FF8C00;
}

/*Effective Solutions for Your Business*/
.main-starting {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/*Purposes > h2*/
.purposes-libel {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

/*Purposes > p*/
.purposes-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/*What Are We Doing?*/
.libel-photos {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

/*Our Team*/
.libel-photos-2 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

/*Names of four persons*/
.names {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

/*Function of every participants*/
.position {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}