:root {
    --dark-blue-color: #2E2F42;
    --white-color: #FFFFFF;
    --light-gray-color: #F4F4FD;
    --gray-color: #434455;
    --white-color-footer: #E7E9FC;
    --blue-color: #4D5AE5;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/*Header and Footer*/
.main-link {
    width: 71px;
    height: 24px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.first-part {
    color: var(--blue-color);
}

.second-part-1 {
    color: var(--dark-blue-color);
}

.second-part-2 {
    color: var(--light-gray-color);
}

/*Header*/
.top-part {
    width: 1440px;
    background-color: var(--white-color);
}

/*For every list on the web*/
.top-list,
.list-purposes,
.list-employments,
.list-team {
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.nav-a {
    text-decoration: none;
    color: var(--dark-blue-color);
}

.nav-a:hover,
.nav-a:focus {
    color: var(--blue-color);
}

.contacts-a {
    text-decoration: none;
    color: var(--gray-color);
}

.contacts-a:hover,
.contacts-a:focus {
    color: var(--blue-color);
}

/*Effective solutions for your business*/
.greeting {
    width: 1440px;
    height: 603px;
    background-color: var(--dark-blue-color);
}

/*Button - Order Service*/
.appeal-button {
    width: 170px;
    height: 51px;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: var(--blue-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.appeal-button:focus,
.appeal-button:hover {
    background: #404BBF;
}

/*Text for Effective....*/
.main-starting {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

/*Purposes*/
.purposes {
    width: 1128px;
    background-color: var(--white-color);
}

/*Purposes > h2*/
.purposes-title {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
}

/*Purposes > p*/
.purposes-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--gray-color);
}

/*What Are We Doing?*/
.employments {
    width: 1128px;
    background-color: var(--white-color);
}

.title-photos {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-blue-color);
}

/*Our Team*/

.person-item {
    width: 264px;
    height: 380px;
    background-color: var(--white-color);
}

.our-team {
    background-color: var(--light-gray-color);
}

.title-photos-2 {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-blue-color);
}

/*Names of four persons*/
.names {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
}

/*Function of every participants*/
.position {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--gray-color);
}

/*Footer*/
.floor {
    width: 1440px;
    height: 310px;
    background-color: var(--dark-blue-color);
}

.footer-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--white-color-footer);
}



/*Styles for Portfolio*/

.list-portfolio-nav {
    width: 586px;
}

.button-all {
    width: 69px;
}

.button-website {
    width: 116px;
}

.button-app {
    width: 78px;
}

.button-design {
    width: 101px;
}

.button-marketing {
    width: 126px;
}

.button-all,
.button-website,
.button-app,
.button-design,
.button-marketing {
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--blue-color);
    background-color: var(--light-gray-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid var(--white-color-footer);
    padding: 4px 8px;
    height: 48px;
}

.button-all:hover,
.buuton-all:focus,
.button-website:hover,
.buuton-website:focus,
.button-app:hover,
.buuton-app:focus,
.button-design:hover,
.buuton-design:focus,
.button-marketing:hover,
.buuton-marketing:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
    background: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.list-portfolio-nav,
.list-portfolio-photos {
    list-style-type: none;
}

.portfolio-photos {
    text-decoration: none;
}

.li-portfolio {
    width: 360px;
    height: 420px;
    background: var(--white-color);
    border: 0.5px solid var(--light-gray-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.li-portfolio:hover,
.li-portfolio:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*.portfolio-photo-2-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: calc(16 / 24);
    color: var(--light-gray-color);
}*/

h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--dark-blue-color);
}

h3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--gray-color);
}